.footerContainer {
  padding-top: 45px;
  background-size: 80% 99%;
  background-position: right;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-image: url("../../assets/home/silvia-grav-0511.webp");
}

.nameHeading {
  text-align: center;
  letter-spacing: 1px;
  font-size: 1.5rem;
}

.year {
  margin-top: 5px;
  text-align: center;
  margin-bottom: 1rem;
}

.collegeName {
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-align: center;
}

@media (max-width: 340px) {
  .footerContainer {
    padding-top: 50px;
    background-size: 70% 99%;
  }
}

@media (min-width: 768px) and (max-width: 999px) {
  .footerContainer {
    padding-top: 60px;
    background-size: 90% 99%;
  }
  .nameHeading {
    letter-spacing: 2px;
    font-size: 2rem;
  }

  .collegeName {
    font-size: 2.3rem;
    letter-spacing: 2px;
    text-align: center;
  }
  .year {
    margin-top: 10px;
    margin-bottom: 1.5rem;
    font-size: 2rem;
  }
}

@media (min-width: 1000px) {
  .footerContainer {
    padding-top: 60px;
    margin-left: 5%;
    margin-right: 5%;
    background-size: 100% 100%;
    background-position: right;
    background-repeat: no-repeat;
    background-clip: border-box;
  }
  .nameHeading {
    letter-spacing: 2.1px;
    font-size: 2.3rem;
  }

  .collegeName {
    font-size: 2.5rem;
    letter-spacing: 2px;
    text-align: center;
  }
  .year {
    margin-top: 10px;
    margin-bottom: 1.5rem;
    font-size: 2.1rem;
  }
}
