.homeContainer {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

.signContainer {
  width: 80%;
  margin: 0 auto;
}

.signImg {
  height: 13vh;
}

.heading {
  margin-top: 20px;
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.lady {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.ladyImg {
  height: 70vh;
}

.deadpool {
  margin-top: 15px;
  width: 95%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.deadpoolImg {
  height: 100%;
}

.batman {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.minia {
  margin-top: 15px;
  position: relative;
  width: 95%;
  height: 100%;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.miniaImg {
  height: 100%;
}

.minia:hover {
  opacity: 0.8;
  transition: opacity 0.5s;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
}

.text {
  font-size: 2rem;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  background: none;
  transform: translate(-50%, -50%);
  text-align: center;
}

.minia:hover .overlay {
  opacity: 1;
}

@media (min-width: 490px) and (max-width: 768px) {
  .signContainer {
    width: 65%;
  }

  .heading {
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 2px;
  }
}
@media (min-width: 768px) and (max-width: 999px) {
  .signContainer {
    display: none;
  }

  .heading {
    text-align: center;
    font-size: 2.4rem;
    letter-spacing: 3px;
  }
  .lady {
    margin-top: 14px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .text {
    font-size: 3rem;
  }

  .batmanImg {
    height: 35vh;
  }

  .ladyImg {
    height: 80vh;
  }
}

@media (min-width: 1000px) {
  .signContainer {
    display: none;
  }
  .heading {
    margin-top: 5px;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 3px;
  }
  .lady {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .ladyImg {
    height: 72vh;
  }
  .deadpoolImg {
    height: 70vh;
  }
  .text {
    font-size: 3.5rem;
  }
  .miniaImg {
    height: 70vh;
  }
  .batmanImg {
    height: 50vh;
  }
}
